@use "../../presets/" as *;
@use "../../mixins/" as *;

.main-content {
  &__body {
    max-width: 100%;
    display: grid;
    gap: 15px;

    @include sm-min {
      grid-template-areas:
        "a1 a2 a3"
        "a4 a5 a6"
        "a7 a8 a9"
        "a10 a11 a12";
      grid-template-columns: repeat(3, 1fr);
    }

    @include sm-xx {
      grid-template-areas:
        "a1 a2"
        "a3 a4"
        "a5 a6"
        "a7 a8 "
        "a9 a10"
        "a11 a12";
      grid-template-columns: repeat(2, 1fr);
    }

    @include xx {
      grid-template-areas:
        "a1"
        "a2"
        "a3"
        "a4"
        "a5"
        "a6"
        "a7"
        "a8"
        "a9"
        "a10"
        "a11"
        "a12";
      grid-template-columns: 1fr;
    }
  }

  &__item {
    &-wrapper {
      max-width: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 7px;
      border: 5px solid rgba($color-dark, 0.5);
    }

    &:hover {
      .main-content__excerpt {
        top: 28px;
      }

      h3 {
        color: $color-accent;
        background-color: rgba($color-dark, 0.7);
      }
    }
    h3 {
      max-width: 100%;
      @include text-shadow;
      @include text-shortener;
      color: $color-light;
      background-color: rgba($color-dark, 0.5);
      border-radius: 3px 3px 0 0;
      font-size: 1rem;
      font-family: $font-main;
      font-weight: 300;
      line-height: 1em;
      letter-spacing: 1px;
      border-bottom: 0px;
      margin: 0;
      padding: 7px;
      position: absolute;
      height: 30px;
    }
  }

  &__excerpt {
    position: absolute;
    overflow: hidden;
    top: 100%;
    background-color: rgba($color-dark, 0.7);
    padding: 15px;
    text-align: center;
    width: 100%;
    height: calc(100% - 27px);
    transition: ease-in-out 0.5s;
  }

  &__image img {
    display: block;
    max-width: 100%;
    height: auto;
    height: auto;
    overflow: hidden;
    border-radius: 3px;
  }
}
@for $i from 1 through 12 {
  .main-content__item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
