@use "../../presets/" as *;
@use "../../mixins/" as *;

.main-content__title {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 7px;
  font-size: 2rem;
  margin: $gap 0 $gap 0;
  padding: 8px 12px 8px 12px;
  color: $color-light;
  font-family: $font-header;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 3px;
}
