@use "../../presets/" as *;
@use "../../mixins/" as *;

.header-navbar {
  background-color: rgba($color-dark, 0.3);
  border-radius: 0 0 7px 7px;

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__link {
    line-height: 1.7em;
    display: block;
    border-radius: 4px;
    margin: 5px;
    padding: 10px 15px 10px 15px;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($color-dark, 0.3);
      color: $color-accent;
      @include text-shadow;
    }
  }
}

// для активной кнопки
//  {
//   background-color: rgba($color-dark, 0.4);
//   color: $color-accent-dark;
//   @include text-shadow;
// }
