@use "../presets/" as *;
@use "../mixins/" as *;

.container {
  display: grid;
  margin-top: $gap;
  margin-bottom: 15px;

  @include lg-min {
    grid-template-areas: "l m r";
    grid-template-columns: 220px 1fr 240px;
    gap: $gap;
  }

  @include lg-md {
    grid-template-areas: "l m" "r r";
    grid-template-columns: 220px 1fr;
    gap: $gap;
  }

  @include md-xs {
    grid-template-areas: "m m" "l r";
    grid-template-columns: repeat(2, calc(50% - 7px));
    gap: 15px;
  }

  @include xs {
    grid-template-areas: "m" "l" "r";
    grid-template-columns: 100%;
    gap: 15px;
  }
}
