@use "../presets/" as *;
@use "../mixins/" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  color: $color-light;
  overflow-y: scroll;
}

body {
  max-width: 1380px;
  margin: 0 auto;
  background-image: url(../../img/global-bg.jpg);
  background-color: $color-warning;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

a {
  text-decoration: $color-warning;
  color: $color-light;
}
