@use "../presets/" as *;
@use "../mixins/" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  color: $color-light;
  padding-bottom: 10px;
  line-height: 1.5rem;
}

body {
  max-width: 1380px;
  margin: 0 auto;
  background-image: url(../../img/global-bg.jpg);
  background-color: $color-warning;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;

  @include lg-min {
    padding: 0 $gap 0 $gap;
  }

  @include lg {
    padding: 0 15px 0 15px;
  }
}

a {
  text-decoration: $color-warning;
  color: $color-light;
}

h3 {
  @include block-header;
  font-size: 1.17rem;
  margin-top: 5px;
  padding-bottom: 10px;
  line-height: 1.5rem;
}
